name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        run: make setup

      - name: Run Linter
        run: make lint

      - name: Run Tests
        run: make test
